/* src/components/ProjectCard/ProjectCard.css */

.project-card {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1rem 0;
  }
  
  .project-card h4 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .project-card .project-details {
    margin-bottom: 1rem;
  }
  
  .project-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .project-card li {
    color: #ffffff;
    font-size: 14px;
  }
  
  .project-card .project-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .project-card button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: rgba(213, 89, 89, 1);
    color: rgba(256, 256, 256, 0.7);
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .project-card button:hover {
    background-color: rgba(255, 69, 69, 1);
  }
  
  .project-card a {
    color: rgba(256, 256, 256, 0.7);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .project-card a:hover {
    color: rgba(255, 255, 255, 1);
  }
  