/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50; /* Adjusted to fit theme */
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Effect #5 styling for the logout button */
  .effect.effect-5 {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    background-color: #d55959; /* Adjusted to fit theme */
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .effect.effect-5:before {
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }
  
  .effect.effect-5:hover {
    text-indent: 30px;
  }
  
  .effect.effect-5:hover:before {
    transform: scale(1, 1);
    text-indent: 0;
  }
  